.left{
  width: 40%;
  height: 700px;
  float: left;
  /*background-color: darkred;*/
  position: relative;
}
.right{
  width: 60%;
  height:700px;
  float: left;

  /*background-color: gray;*/
}
.maintext{
  color:#11AE83 ;
  margin-top: 30%;
}
#selectpro{
  width: 80%;
  height: 10%;
   position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 color:black;

}
#selectloc{
  width: 80%;
  height: 10%;
   position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 5px;
}
#selectdate{
  width: 80%;
  height: 10%;
   position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 10px;
}
#submitt{
   position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color:#11AE83 ;
  color: white;
  border-radius: 20px;
  height: 8%;
  margin-top: 10px;
  width: 25%;
  font-size: 20px;

}
.ima{
  width: 100%;
  height: auto;
  margin-top: 20%;
}

.card-title{
  text-align: center;
}
h1{
  color:#11AE83 ;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
#imgh{
  width: 70%;
  height: 250px;
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 50%;
}
p{
  text-align: center;
  font-size: 20px;
}
.card-img-top{
  height: 214px;
  width: 214px;
}
.search{
  width: 50%;
  height: fit-content;
  /*background-color: red;*/
  float: right;
}

#nav{
  width: 100%;
  margin-left: 50%;
 
}
#nav button{
  margin-left: 30%;
  margin-top: 5px;
}
#nave{
  margin-left: 50%;
}
 
/*.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}*/

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}